<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Http" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="Moq" version="4.14.5" targetFramework="net461" />
  <package id="RichardSzalay.MockHttp" version="6.0.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
</packages>